
{{!-- used in /outfit/outfit-feed --}}

<div class="feed-row">
        <div>
            <h5>{{this.name}}</h5>
            <p></p>
            
        </div>

        <div>
            <img src="/{{this.image}}" alt="" onclick="">
            
        </div>

            
</div>