
{{!-- used in /outfit/detail --}}

<div class="item-row">
        <div>
            <h5>{{this.title}}</h5>
            <p>.{{this.material}}  -------- .{{this.brand}}</p>
            
        </div>

        <div>
            <img src="/images/trash-4-24.png" alt="" onclick="myScript(this)">
            {{!-- <img src="/{{this.img}}" alt=""> --}}
        </div>        
</div>

