<div id="navbar">
    <div id="navbox">
    <a href="/user/dashboard" class="navlink"> <h3>Home</h3></a>
    <a href="/user/list" class="navlink"><h3>Wardrobe</h3></a> 
    <a href="/user/feed" class="navlink"><h3>Feed</h3></a> 
    </div>
</div>

