<div id="navbar">
    <div id="navbox">
        <div class="nav-direction">
            <img src="../images/icon-home.png" alt="x">
            <a href="/user/home" class="navlink">
                <h3>Home</h3>
            </a>
        </div>

        <div class="nav-direction">
            <img src="../images/icon-shirt.png" alt="x">
            <a href="/outfit/list" class="navlink">
                <h3>Fitting Room</h3>
            </a>
        </div>

        <div class="nav-direction">
            <img src="../images/feed-icon.png" alt="x">
            <a href="/user/feed" class="navlink">
                <h3>Feed</h3>
            </a>
        </div>
    </div>
</div>

