<div id="navbar">
    <div id="navbox">
        <div class="nav-direction">
            <img src="../images/icon-home.png" alt="x" class="img-nav-icon">
            <a href="/user/home" class="navlink">
                <h3 id="navH3">Home</h3>
            </a>
        </div>

        <div class="nav-direction">
            <img src="../images/icon-shirt.png" alt="x" class="img-nav-icon">
            <a href="/outfit/fitting-room" class="navlink">
                <h3 id="navH3">Fitting Room</h3>
            </a>
        </div>

        <div class="nav-direction">
            <img src="../images/feed-icon.png" alt="x" class="img-nav-icon">
            <a href="/user/feed" class="navlink">
                <h3 id="navH3">Feed</h3>
            </a>
        </div>
    </div>
</div>

