
{{!-- used in /outfit/outfit-feed --}}

{{!-- <a href=""></a> --}}
<div class="feed-row">
        <div>
            <h5>{{this.firstname}}</h5>
            <p></p>            
        </div>
        <div>
            <img src="/{{this.image}}" alt="">
            
        </div>         
</div>