
{{!-- used in /outfit/outfit-feed --}}


    <ul class="liked-by-friends-ul">
        <li class="liked-by-friends">
            {{this.firstname}}
        </li>
    </ul> 


<div class="feed-row">
        <div>

            <p>test for knowing user_feed_user_thumb connect and show</p>
            <h5>{{this.firstname}}</h5>
            <p></p>            
        </div>
        <div>
            <img src="/images/{{this.image}}" alt="">          
        </div>         
</div>

