
{{!-- used in /outfit/outfit-feed --}}


    <ul class="liked-by-friends-ul">
        <li class="liked-by-friends">
            {{this.firstname}}
        </li>
    </ul> 


<div class="feed-row">
        <div>
            <img src="/images/{{this.image}}" alt="">
        </div>         
</div>

