
{{!-- used in /outfit/outfit-feed --}}

{{!-- <a href=""></a> --}}
<div class="feed-row">
    {{!-- <a href=""></a> --}}
        <div>
            <p>test for knowing user_feed_user_thumb connect and show</p>
            <h5>{{this.firstname}}</h5>
            <p></p>            
        </div>
        <div>
            <img src="/{{this.image}}" alt="">
            
        </div>         
</div>