
{{!-- used in /outfit/outfit-feed --}}

    <ul class="liked-by-friends-ul">
        <li class="liked-by-friends">
            {{this.firstname}}
        </li>
    </ul> 
        {{!-- <div>
            <img src="/{{outfit.image}}" alt="Image failed to load" id="of_f_u_th">
        </div> --}}
