
{{!-- used in /outfit/outfit-feed --}}

<a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{this.firstname}}</h5>
      <small></small>
    </div>
      <div>
            <img src="/images/{{this.image}}" alt="">
        </div> 
    <p class="mb-1"></p>
    <small></small>
  </a>



