

<div>
    <img src="/{{currUser.image}}" alt="" class="profile-img">
    <h4>{{currUser.firstname}}{{currUser.lastname}}</h4>
    <h6>{{currUser.username}}</h6>
</div>
<div>
    <a href="/user/account">Account</a>
    <a href="/outfit/list">Wardrobe</a>
    <a href="/user/add-friend">Add Genies</a>
    <a href="/user/settings">Settings</a>
    <a href="/help">Help</a>
    <a href="/user/logout">Logout</a>
    
    
    
</div>

