
<div id="sidemenu-box" class="invisible" >
    <div>
        <img src="/images/{{currUser.image}}" alt="" class="profile-img">
        <h4>{{currUser.firstname}}{{currUser.lastname}}</h4>
        <h6>{{currUser.username}}</h6>
    </div>
    <div>
    
        
        
<ul class="list-group">
  <li class="list-group-item"><a href="/user/account">Account</a></li>
  <li class="list-group-item"><a href="/outfit/list">Wardrobe</a></li>
  <li class="list-group-item"><a href="/user/add-friend">Add Genies</a></li>
  <li class="list-group-item"><a href="/user/settings">Settings</a></li>
  <li class="list-group-item"><a href="/help">Help</a></li>
</ul>

<button type="button" class="btn btn-secondary btn-lg btn-block"><a href="/user/logout">Logout</a></button>

        
    </div>
</div>


