
<script src="/javascripts/script.js"></script>
<div>
    <img src="/{{this.image}}" alt="">
</div>
<div>
    <h3>{{this.firstname}} {{this.lastname}}</h3>
    <div class="add-friend-btn" id="{{this._id}}" onclick="addFriend(this)">
        <img src="/images/trash-4-24.png" alt="" >
    </div> 
</div>


<script type="text/javascript">
    function addFriend (element) {
     let friendId = element.id;   
    axios.get(`/user/add-friend/${friendId}`)
        .then((response)=> {
            // handle success
            if (response) {
                element.innerHTML = '<img src="" alt="" >'
            }
            console.log(response);
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
        .then(function () {
            // always executed
        });
}
</script>