
<div>
    <img src="/{{this.image}}" alt="">
</div>
<div>
    <h3>{{this.firstname}} {{this.lastname}}</h3>
    <div class="add-friend-btn" id="{{this._id}}">
        <img src="/images/trash-4-24.png" alt="" >
    </div> 
</div>
