{{>nav}}

<h2 id="createH2">Create New Item</h2>
<div id="form-frame">
    <form action="/item/create" method="POST" id="form-frame-inside" enctype="multipart/form-data">

    <div class="form-group">
        <label for="item-img">Choose an image</label>
        <input class="form-control" type="file" required name="item-img">
    </div>

    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title" required class="form-control" placeholder="This better be unique">
    </div>

    <div class="form-group">
        <label for="brand">Brand</label>
        <select name="occasion" required id="outfit-occasion" class="form-control">
            <option value="Make a choice">Make a choice</option>
            <option value="YSL">YSL</option>
            <option value="Gucci">Gucci</option>
            <option value="Louis Vuitton">Louis Vuitton</option>
        </select>
    </div>

    <div class="form-group">
        <label for="material">Item Material</label>
        <select name="material" required id="item-material" class="form-control">
            <option value="Make a choice">Make a choice</option>
            <option value="Mocha">Mocha</option>
            <option value="Leather">Leather</option>
            <option value="Cotton">Cotton</option>
        </select>
    </div>

        <button type="submit" class="btn btn-primary" formmethod="POST" id="btn-primary-green-login" id="">Create</button>

    </form>
</div>

            {{!-- <a href="/outfit/list"><img src="/images/back_btn.png" alt="Back" class="back-btn"></a> --}}
    {{!-- <a href="/outfit/feed/{{outfit._id}}"><img src="/images/back_btn.png" alt="Back" class="back-btn"></a> --}}