{{!-- {{>nav_intro}} --}}

<section class="BG">
    <div id="intro">
        <div class="intro_info">
        <h1 class="dress_up">DressUp</h1>
        <div id="btn_intro">
            <button type="button" class="btn btn-primary" id="btn-primary-green"><a href="/login" class="login-direct-btn">Login!</a></button>
            <button type="button" class="btn btn-primary" id="btn-primary-orange"><a href="/signup" class="login-direct-btn">Signup!</a></button>
        </div>
        </div>
    </div>
    
</section>