{{>nav_intro}}
<section id="intro">
        <h1>DressUp</h1>
        <h3>Welcome to your digital fitting-room!</h3>
        <a href="/login"><button id="login-btn">Login</button></a>
        <a href="/signup"><button id="signup-btn">signup</button></a>
        
    </section>