{{>nav_intro}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

{{!-- enctype="multipart/form-data" --}}

<form action="/login" method="POST" id="form-frame-inside">

    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" required placeholder="Username" name="username">

    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" required class="form-control" id="password" placeholder="Password" name="password">
    </div>

    <button type="submit" class="btn btn-primary" id="btn-primary">Login</button>
    <span class="login-check">Don't have an account yet?  <a href="/login" class="login-link"> Signup!</a></span>
</form>
