{{>nav_intro}}

<div id="signup-frame">
    <img src="../images/icon_check_btn.png" alt="confirmation" class="icon-check-img">

    <h3 class="signup-confirm">Signup was successful!</h3>
    <h4 class="signup-info">You can now log in to your profile <br> and start sharing your outfits.</h4>
</div>
<button type="button" class="btn btn-primary" id="btn-primary"><a href="/login" class="login-direct-btn">Go to login!</a></button>
