{{>nav}}
{{> create_btn }}
{{> side_menu}}
{{> sidemenu_open_btn}}

<div id="add-friend-info">
    <h4>Invite a genie from the list!</h4>
    <h5>Your genie will see your shared outfits in Fitting Room and be able to give you a like (or not).</h5>
</div>

{{#each users}}
    {{> user_thumb}}
{{/each}}