{{>nav}}
{{> create_btn }}
{{> side_menu}}
{{> sidemenu_open_btn}}

<p>This is you add friend-page (invite a genie that you want to be able to like/give comments to your outfit from the Fitting Room). More about it later.</p>

{{#each users}}
    {{> user_thumb}}
{{/each}}