{{>nav}}

<p>This is your home-page {{loggedInUser.username}}.</p>
<p>On this page you should be able to see 
    <ul>
        <li>Nav-menu with the links of "Home", "Wardrobe" and "Feed".</li>
        <li>Menu-icon (slides in from the left -->) </li>
        <li>"Your outfits" --> direct you to Outfit-detail-full</li>
        <li>"Your fitting-room" --> direct you to Fitting-room(/outfit/activity)</li>
        <li>"Your genies" --> direct you to Genies-outfit</li>
    </ul> 
</p>
<a href="/outfit/create"></a>
