{{>nav}}

<p>This is your Activity Feed-page. Here you will be able to see:</p>
<ul>
    <li>Requests from genies, that have invited you to go have a look at their outfit.</li>
    <li>Acitivity feed, where you will see what kind of activities your little helpers have liked or cmmented on your outfit from the Fitting Room.</li>
</ul>