<form action="/user/login" method="POST" enctype="multipart/form-data">
    <input type="text" required name="username" placeholder="Username" />

    <input type="text" required name="password" placeholder="Password" />

    <button type="submit">Login!</button>
    <p><small>Don't have an account? <a href="/user/signup">Signup!</a></small></p>
</form>