{{>nav_intro}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

{{!-- enctype="multipart/form-data" --}}

<form action="/user/login" method="POST">
    <input type="text" required name="username" placeholder="Username" />

    <input type="text" required name="password" placeholder="Password" />

    <button type="submit">Log in!</button>
    <p><small>Don't have an account? <a href="/user/signup">Sign up!</a></small></p>
</form>