/* 
GENERAL STYLING-DECISIONS

Dusty red: rgb(173, 66, 60)
Body bg beige: rgba(252, 233, 212, 38)
Button green: rgb(125, 179, 134);
Button orange: rgb(230, 169, 134);
Placeholder fields grey: rgb(141, 141, 141);
Heart & Item Icons red: rgb(250, 116, 112);

font-family: San Francisco Pro Text;
 */



 @import "nav_intro.css";
 @import "nav.css";
 @import "outfit.css";
 @import "sidemenu.css";
  @import "upstart.css";
  @import "user.css";


@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }

 

    body{
        margin: 0;
        padding: 0;
        background-color: rgb(252, 233, 212);
        font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    }

    .BG-main {
      position: relative;
    }
  
    .BG {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }


    a, a:hover{
        text-decoration: none;
        color: black;
    }

    
    #create-btn{
      position: fixed;
      bottom: 2vh;
      right: 5vw;
      z-index: 20;
    }
    
/*Insert ;all headings and make them work throughout the page)*/


}