{{>nav}}

<h2 id="createH2">Create New Outfit</h2>
<div id="form-frame">
    <form action="/outfit/create" method="POST" id="form-frame-inside" enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="outfit-img">Choose an image</label>
            <input class="form-control" type="file" required name="outfit-img">
        </div>

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" required class="form-control" placeholder="This better be unique">
        </div>

        <div class="form-group">
            <label for="occasion">Occasion</label>
            <select name="occasion" required id="outfit-occasion" class="form-control">
                <option value="Party">Party</option>
                <option value="Work">Work</option>
                <option value="funeral">Funeral</option>
            </select>
        </div>


        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What is on your mind about this outfit?"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" id="btn-primary-green-login" id="">Create</button>
    </form>
</div>
