{{>nav}}

<form action="/outfit/create" method="post">
    <label for="title">title</label>
    <input type="text" name="title" placeholder="This better be unique">
    <label for="occasion">Occasion</label>
    <select name="occasion" id="outfit-occasion">
        <option value="Party">Party</option>
        <option value="Work">Work</option>
        <option value="funeral">funeral</option>
    </select>
    <label for="description">Description</label>
    <input type="text" name="description" placeholder="write something about this outfit">
    <button type="submit" formmethod="POST" id="">Create</button>
</form>