{{>nav}}

{{> sidemenu_open_btn}}

<div id="fitting-room-frame">
    {{#each sharedList}}
        <div class="shared-outfit">
            {{> shared_outfit_thumb }}
        </div>
    {{/each}}
</div>


{{> side_menu}}

{{!-- <button type="button" class="btn btn-primary" id="btn-primary-green"><a href="/outfit/create" class="login-direct-btn">Create new outfit</a></button> --}}

{{> create_btn }}