{{>nav}}
{{> create_btn }}
{{> sidemenu_open_btn}}
{{> side_menu}}

<div id="fitting-room-frame">
    {{#each sharedList}}
        <div class="shared-outfit">
            {{> shared_outfit_thumb }}
        </div>
    {{/each}}
</div>







