{{>nav}}

{{> sidemenu_open_btn}}
{{> side_menu}}
{{> create_btn }}

<div id="fitting-room-frame">
    {{#each sharedList}}
        <div class="shared-outfit">
            {{> shared_outfit_thumb }}
        </div>
    {{/each}}
</div>
