{{>nav}}
{{> create_btn }}
{{> side_menu}}
{{> sidemenu_open_btn}}

<h4 class="wardrobe">Wardrobe</h4>

<div class="list-btns">
    <a href="/item/list"><button type="submit" class="btn btn-primary" id="btn-primary-items"><h5>Your items</h5></button></a>
    <a href="/outfit/list"><button type="submit" class="btn btn-primary" id="btn-primary-outfits"><h5>Your outfits</h5></button></a>
</div>

{{#each outfitListdata}}
    <div class="shared-outfit">
        {{> outfit_thumb}}
    </div>
{{/each}}
