{{>nav}}

<h4>this is your wardrobe</h4>

{{!-- 2 buttons that opens up 1. outfits and 2. items.
        Add eventlistener to make them visible/unvisible --}}

{{#each listdata}}
    <div class="shared-outfit">
        {{> outfit_thumb}}
    </div>
{{/each}}
