{{>nav}}

<div id="top-image">
    <img src="/{{outfit.image}}" alt="">
</div>
<div id="description">
    <h2 class="title">{{outfit.title}}</h2>
    <p class="sub-title">{{outfit.occasion}}</p>
</div>



    <div><a href="/outfit/unshare/{{outfit._id}}">unshare sign</a></div>


<div class="item-list">
    {{#each outfit.liked_by}}
        {{> feed_item_thumb}}    
    {{/each}}    
</div>

